<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQMt5m8F7j24ADVIzHv5F6L5HcIdUEcGA</string>
	<key>GCM_SENDER_ID</key>
	<string>398760642952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.malabargold</string>
	<key>PROJECT_ID</key>
	<string>trail-2f143</string>
	<key>STORAGE_BUCKET</key>
	<string>trail-2f143.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398760642952:ios:4d8d130ce78cbc795d923d</string>
</dict>
</plist>